#container{
  background-image:url('../../../public/man.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:55vh;
  width:100%;
  margin:0;
}
.myCard{
  width:300px;
  height:200px;
  transition:ease 0.3s;
}

.myCard:hover{
  color:white;
  background-color:lightsteelblue;
}

button{
  background-color:#294361;
  border:none;
}
