
<div id="container" class="d-flex flex-column align-items-end  justify-content-center">
  <div class="d-flex flex-column me-2">
    <h1 style="color: white; text-shadow: 2px 2px 6px black; ">
      Need a space for your next meeting?
    </h1>
    <h5 style="color: white; text-shadow: 2px 2px 5px black;">
      Find and book the right conference room – fast and easy.
    </h5>
  </div>
  <button [routerLink]="'/rooms'" mat-raised-button>Discover our places</button>
</div>

<div class="d-flex gap-5 justify-content-around align-items-center">
  <div class="p-3 myCard">
    <h1><i class="fa-solid fa-location-dot"></i></h1>
    <h4>Strategic location</h4>
    <div>15 minutes from airport and 10 minutes from downtown,with easy access from all directions</div>
  </div>
  <div class="p-3 myCard">
    <h1><i class="fa-solid fa-building"></i></h1>
    <h4>Maximum flexibility</h4>
    <div>12 configurable venues for events from 10 to 500 participants</div>
  </div>
  <div class="p-3 myCard">
    <h1><i class="fa-solid fa-landmark"></i></h1>
    <h4>Complete services</h4>
    <div>From 5* accommodation and fine dining to complete technical assistance</div>
  </div>
</div>

